@tailwind base;
@tailwind components;
@tailwind utilities;

i {
    font-size: 1.5rem;
}

#btn-mobile {
    display: flex;
    padding: .5rem 2rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

#hamburguer {
    display: block;
    border-top: 2px solid #fff;
    width: 20px;
    transition: .3s;
}

#hamburguer::after,
#hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
} 

#nav.active #hamburguer {
    border-top-color: transparent ;
}

#nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}



#menu {
    display: block;
    position:absolute;
    width: 100%;
    top: 63px;
    right: 0;
    background-color: black;
    text-align: left;
    height: 0;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#menu li {
    padding: 1rem 0;
    margin: 0 2rem;
}

#nav.active #menu {
    height: calc(100vh - 64px);
    visibility: visible;
    overflow-y: auto;
}


figure {
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

@media (min-width: 768px) {
    #btn-mobile {
        display: none;
    }

    #menu {
        display: flex;
        position: initial;
        visibility: initial;
        height: auto;
    }

    #menu li {
        padding: 1rem 0;
        margin: 0;
    }
}

@media (min-width: 1024px) { 
    #bio {
        background-image: url('https://scontent.fplu16-1.fna.fbcdn.net/v/t39.30808-6/257379847_438915190938398_6194922965870485724_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeHTSjt-mCV8jFlK809g2zro6CXD2PRvIpjoJcPY9G8imL9f74Pc9-AS--NM5q91jFvXCJQ_u_BnyRU7B4rxKN5m&_nc_ohc=CImHntyZ1GUAX9Y23En&_nc_ht=scontent.fplu16-1.fna&oh=00_AT9ZBZYerehKgz7JY5wIseaOejZta1KIkcSw510uPt0BZg&oe=6218C84E');
        background-size: cover;
        background-position: center;
    }
}
